* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", sans-serif;
  color: rgb(32, 32, 32);
}

html {
  font-size: 62.5%;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  &[disabled] {
    cursor: not-allowed;
  }
}
