//Primary Palette
$blue: #3f67ba;
$red: #c20001;
$blue-others: #3F5DB3;

//Neutral Colors
$neutral-100: #020203;

//Colors Pokemons
$all: #3F5DB3;
$bug: #9bba48;
$dark: #595761;
$dragon: #2c6ac1;
$electric: #eed967;
$fairy: #e296e1;
$fighting: #c44d61;
$ground: #ce8056;
$ice: #8bcec1;
$normal: #a0a29f;
$poison: #ac6aca;
$psychic: #eb8b85;
$rock: #8bcec1;
$ghost: #616eb7;
$grass: #73b861;
$steel: #6594a1;
$water: #88a3d4;
$fire: #f66d6d;
$flying: #a6bbe8;